.header
{
    h2{
        text-align: center;
    }
    .headersubdiv
    {
        p{
            font-size: 20px;
            text-transform: uppercase;
        }
        h6{
            margin: -10px 0 10px 0;
            font-size: 30px;
        }
    }
}